Source: libfont-ttf-scripts-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 4.0.2)
Build-Depends-Indep: perl (>= 5.8.0-7)
Maintainer: Martin Hosken <martin_hosken@sil.org>
Standards-Version: 3.6.1

Package: libfont-ttf-scripts-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libfont-ttf-perl (>= 0.43), libtext-pdf-perl, libalgorithm-diff-perl, libparse-recdescent-perl (>= 1.51)
Description:  Smart font script supporting modules and scripts for TTF/OTF
 This module contains a number of useful programs for hacking with TTF files:
 .
 check_attach, eurofix, fret, hackos2, make_gdl, make_volt, psfix, thai2gdl,
 thai2ot, thai2volt, ttfbuilder, ttfenc, ttfname, ttfremap, ttfsetver,
 volt2xml, voltExportAnchors, voltFixup, voltImportAnchors
 .
 Highlights include:
 .
 fret       - produces PDF report of an uninstalled font including all glyphs
 hackos2    - manipulates the OS/2 table of a font
 ttfbuilder - builds a font from another font, attaching glyphs, subsetting, etc.
 ttfname    - renames a font
 .
 This description was automagically extracted from the module by dh-make-perl.
